body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
}

#content-container {
    background-color: lightgray;
    margin-top: 25px;
    margin-bottom: 30px;
}

header {
    text-align: center;
    height: 6vw;
}

#title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vw;
    padding: 2px;
}

#title-desc {
    font-size: 2vw;
}

figure {
    text-align: center;
    padding: 50px;
    background-color: white;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

#img-caption {
    font-size: 20px;
}

#section-title {
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
    text-align: center;
}

#tribute-info {
    text-align: center;
    margin-left: 25%;
    width: 50vw;
}

ul {
    text-align: left;
}

li {
    font-size: 20px;
    padding: 10px;
}

#section-footer {
    font-style: italic;
    font-size: 20px;
    text-align: left;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;